/* Your CSS Code here. */
div .container-fluid{
    width: 1200px;
}

.row,.row-2,.row-3,.row-4{
display: flex;
}
.row-4{
justify-content: center;
}

img{
width: 100px;
height: 100px;
margin: 6px;
margin-top: 40px;
}

.row-2 img{
position: relative;
margin-left: 30px;
left: 250px;
}
.row-3 img{
position: relative;
margin-left: 30px;
left: 400px;
}
